.main{
    background-color: rgb(245, 235, 235);
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h2 {
    display: flex;
    align-self: flex-start;
}
.about p {
    font-size: 26px;
    display: flex;
    text-align: start;
}