@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animatedFName {
    font-size: 5rem;
    align-self: flex-start;
    font-family: 'Monoton', cursive;
}

.animatedLName {
    font-size: 5rem;
    align-self: flex-end;
    font-family: 'Monoton', cursive;
}

@media only screen and (max-width: 990px) {
    .animatedFName {
      font-size: 4rem;
  }
  .animatedLName {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 768px) {
    .animatedFName {
      font-size: 3rem;
  }
  .animatedLName {
    font-size: 3rem;
  }
}

.animateParagraph {
    font-size: 1.5rem;
    margin-top: 90px;
    font-family: monospace;
}

.introImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introImage img {
    height: 280px;
    width: 280px;
}

@media screen and (max-width: 800px) {
  .introImage img {
    height: 230px;
    width: 230px;
  }
}

@media screen and (max-width: 500px) {
  .introImage img {
    height: 200px;
    width: 200px;
  }
}