.main{
    background-color: white;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills h2 {
    display: flex;
    align-self: flex-start;
}
.skills p {
    font-size: 1.7rem;
    display: flex;
    text-align: start;
}

.logos { 
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-around;
}

.holopin {
    width: 80%;
    height: 100%;
    align-self: flex-start;
    display: flex;
}

.mongohackathon {
    width: 30%;
    height: 30%;
    align-self: flex-start;
    display: flex;
}

.typescript div:last-child{
    background-color: #007accd4 !important;
}

.javascript div:last-child{
    background-color: #e4cd0b !important;
}

.nodejs div:last-child{
    background-color: #00ff5e69 !important;
}

.react div:last-child{
    background-color: #5dceee !important;
}

.mongodb div:last-child{
    background-color: #4ea94bbf !important;
}

.postgresql div:last-child{
    background-color: #316192cf !important;
}

.html div:last-child{
    background-color: #e34f26d1 !important;
}

.css div:last-child{
    background-color: #1572b66e !important;
}